//.GridItem {
//  .home-block {
//    cursor: pointer;
//    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
//    transition: background-color 500ms;
//
//    &:hover {
//      background-color: rgba(0,0,0,1);
//    }
//
//    a {
//      color: #f3d300;
//    }
//  }
//}

.grid-item {
  background-color: rgba(0, 0, 0, .6);
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: background-color 300ms;
  padding: 2rem;

  color: white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  flex: 1;
  min-height: 13rem;
  padding-top: 15px !important;

  h1 {
    font-size: 42px;
    font-weight: 900;

  }
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  a {
    &, &:hover {
      color: #f3d300;
    }
  }

}

.group-3 {
  flex-wrap: wrap;
  > .grid-item-wrapper {
    padding: 1rem;
    flex-basis: 33%;
  }
}
.group-2 {
  flex-wrap: wrap;
  > .grid-item-wrapper {
    padding: 1rem;
    flex-basis: 50%;
  }
}

.grid-item-wrapper {
  padding: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.group-flex {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 992px){
 .group-flex{
   flex-direction: column;
 }
}
.grid-item-yellow{
  background-color: rgba(243, 211, 0, .8);
  color: black;
  &:hover{
    background-color: rgba(243, 211, 0, .8);
  }
}
.flex-justify-start{
  justify-content: start;
}

.top-margin{
  padding-top:0px;
}