// TODO: Actually use the scss files instead of this
.message-box .message-list {
  padding: 10px 0;

  .message-item {
    padding: 8px 25px;
    color: #000;
    font-weight: normal;

    ::before {
      background-color: #989898;
    }

    &:hover {
      font-weight: normal;
    }

    &.unread {
      font-weight: bold;
    }

    & + .message-item {
      padding-top: 8px;
    }

    &.active {
      ::before {
        background-color: #000;
      }

      background-color: #f3d300;
    }
  }
}

.message-item {

  .messageToggle {
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    left: 15px;
  }
}

.msg-wrap .foot-padding .btn-outline {
  font-size: 12px;
  padding: 11px 15px;
  line-height: 1;
  height: auto;
  width: auto;
}

.message-list {
  position: relative;
  min-height: 476px;

  .error {
    text-align: center;
    margin: 80px auto;
  }
}

.no-messages {
  padding: 2rem;
  margin: auto;
  display: table;
  color: #999;
}

.message-block {
  transition: background-image 1s;
}


.Search {
  .searchButton {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

