/* ## Commons
/--------------------------------------------- */
.section,
.site-container,
.site-header,
.site-footer,
.blocked,
.site_main {
    display: block;
    width: 100%;
}

.section:after,
.site-container:after,
.site-header:after,
.site-footer:after,
.blocked:after,
.site_main:after {
    display: block;
    clear: both;
    content: "";
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.site-container {
    height: 100vh;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity 3.5s ease;
    transition: opacity 3.5s ease;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.site-container.loadingHide {
    height: 100vh !important;
    overflow-y: hidden !important;
    filter: alpha(opacity=0);
    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.site_main {
    overflow: hidden;
}

.nicescroll-rails-vr {
    top: .5% !important;
    right: 3px !important;
    display: block !important;
    height: 99% !important;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.nicescroll-rails-vr .nicescroll-cursors {
    -webkit-transition: width .25s ease;
    transition: width .25s ease;
}

.navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.wrap:after {
    display: block;
    clear: both;
    content: "";
}

.wrap.-small {
    max-width: 975px;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.bg-lite {
    background-color: #f8f8f8;
}

.section-title {
    margin: 0 0 60px;
    /* text color */
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    color: #000;
}

.ls-1 {
    letter-spacing: 1px;
}

.bg-trans {
    background-color: rgba(255, 255, 255, .4);
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.profile-heading {
    margin: 0 0 40px;
    font-weight: 900;
    color: white;
}

.text-indent {
    text-indent: 10px;
}

/* ## header
/--------------------------------------------- */
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    padding: 30px 0;
    background-image: url("../img/header-bg.png");
    background-repeat: repeat-x;
    background-position: center top;
    background-clip: padding-box;
    background-size: 100%;
}

.site-header .navbar {
    padding: 0;
}

.site-header .navbar.bg-none {
    background-color: transparent;
}

.site-header .navbar .dropdown-toggle:after {
    width: auto;
    height: auto;
    margin-left: 0;
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: inherit;
    content: "\f107";
    border: 0 !important;
}

.site-header .navbar .nav-item.active .nav-link,
.site-header .navbar .nav-item:hover .nav-link,
.site-header .navbar .nav-item:focus .nav-link {
    /* prevents bg color from leaking outside the border */
    color: #000 !important;
    background-color: #f3d300;
    /* border radius */
    background-clip: padding-box;
    border-radius: 6px;
}

.site-header .navbar .nav-item .nav-link {
    position: relative;
    padding: 5px;
    line-height: 1;
    color: #fff !important;
}

.site-header .navbar .btn {
    width: 102px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    /* border radius */
    background-clip: padding-box;
    border: 0 !important;
    border-radius: 6px;
    /* prevents bg color from leaking outside the border */
}

.site-header .navbar .mid-nav .nav-link {
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 26px;
}

.site-header .navbar-nav {
    font-weight: 600;
}

.site-header .navbar-toggler {
    width: 100%;
    height: 55px;
    text-align: center;
    border: 0;
    outline: none !important;
}

.site-header .navbar-toggler .toggler-text {
    display: inline-block;
    vertical-align: middle;
}

.site-header .dropdown-menu {
    /* layer fill content */
    padding: 10px;
    background-color: #f3d300;
    border: 0;
}

.site-header .dropdown-menu .d_links {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.site-header .dropdown-menu .d_links .d_link_item {
    position: relative;
    font-size: 12px;
    color: #000;
    white-space: nowrap;
}

.site-header .dropdown-menu .d_links .d_link_item.active:after,
.site-header .dropdown-menu .d_links .d_link_item:hover:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #000;
}

.site-header .dropdown-menu .d_links li {
    display: block;
    padding: 2px 0;
}

/* ## footer
/--------------------------------------------- */
.site-footer {
    position: relative;
    padding: 60px 0 0;
}

.site-footer.bg-grey {
    background-color: #e4e4e4;
}

.site-footer .footer-title {
    margin: 0 0 60px;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: bold;
    color: #000;
}

.site-footer .footer-icons {
    max-width: 525px;
    margin-bottom: 60px;
}

.site-footer .copyright-text {
    display: block;
    margin: 35px 0 0;
    line-height: 41px;
    color: #fff;
    text-align: center;
    background-color: #000;
}

.site-footer .widget {
    display: block;
    margin-bottom: 25px;
}

.site-footer .widget-title {
    margin: 0 0 25px;
    /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    color: #000;
}

.site-footer .widget-list {
    padding: 0;
    margin: 0;
    line-height: 1;
    list-style-type: none;
}

.site-footer .widget-list li {
    padding: 0;
    line-height: 1;
}

.site-footer .widget-list a {
    /* text color */
    font-size: 14px;
    color: #575757;
}

.site-footer .widget-list a:hover {
    color: #000;
}

.site-footer .widget-list li + li {
    margin-top: 10px;
}

.site-footer .social-footer {
    padding: 0;
    margin: 0;
    font-size: 19px;
    list-style-type: none;
}

.site-footer .social-footer li {
    display: inline-block;
    vertical-align: middle;
}

.site-footer .social-footer li + li {
    margin-left: 30px;
}

.site-footer .social-footer a {
    color: #000;
}

.site-footer .footer-text {
    margin-top: 40px;
}

.site-footer .footer-text p {
    font-size: 10px;
    line-height: 2;
    color: #454545;
    text-align: left;
}

/* ## Banners
/--------------------------------------------- */
.banner-style-1 {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.banner-style-1 .banner-caption {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.banner-style-1 .highlighted-text {
    display: inline-block;
    padding: 8px 10px;
    /* text color */
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #f3d300;
}

.banner-style-1 .banner-title {
    display: block;
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #f3d300;
}

.banner-style-1 .banner-content {
    max-width: 465px;
    font-size: 16px;
    color: #fff;
    text-align: left;
}

.banner-style-1 .banner-content.no-justify {
    text-align: left;
}

/* ## Accordians
/--------------------------------------------- */
.accordian-block {
    position: relative;
    display: block;
    width: 100%;
    padding: 60px 0 50px;
}

.accordian-block .accordian-title {
    margin: 0 0 50px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
}

.accordian-block .card {
    background-color: transparent;
    border: 0;
}

.accordian-block .card-header {
    padding: 0;
    background-color: transparent;
}

.accordian-block .card-header h5 {
    line-height: 1;
}

.accordian-block .card-header h5 a,
.accordian-block .card-header h5 .btn {
    position: relative;
    display: block;
    padding-right: 0;
    padding-left: 0;
    /* text color */
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-align: left;
    white-space: normal;
}

.accordian-block .card-header h5 a:before,
.accordian-block .card-header h5 .btn:before {
    display: inline-block;
    margin-right: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f0da";

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.accordian-block .card-header h5 a:not(.collapsed):before,
.accordian-block .card-header h5 .btn:not(.collapsed):before {
    margin-right: 13px;
    content: "\f0d8";
}

.accordian-block .card-body {
    padding-right: 0;
    padding-left: 0;
}

.accordian-block.-small .accordian-title {
    font-size: 28px;
}

.accordian-block.-small .card-header h5 a,
.accordian-block.-small .card-header h5 .btn {
    font-size: 22px;
}

.accordian-block.-small .card-header h5 a:not(.collapsed):before,
.accordian-block.-small .card-header h5 .btn:not(.collapsed):before {
    margin-right: 15px;
}

/* ## Widgets
/--------------------------------------------- */
.hr-widget-1 {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 41%;
    height: 100%;
    padding-right: 2vw;
    padding-left: 5vw;
    line-height: 1.5;
}

.hr-widget-1 h1 {
    font-size: 2.8vw;
    font-weight: 900;
    line-height: 1.5;
    color: #000;
}

.hr-widget-1 .chat-img {
    margin-top: 8px;
    margin-right: 30px;
}

.hr-widget-1 .sep {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    background-color: #000;
}

.hr-widget-1 .contact-btn {
    width: 100%;
    max-width: 272px;
    height: 65px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 65px;
    color: #393939;
    text-align: center;
    letter-spacing: 1px;
}

.mortgage-widget {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 41%;
    height: 100%;
    padding-right: 2vw;
    padding-left: 3vw;
    line-height: 1.5;
    background-color: #f3d300;
}

.mortgage-widget h1 {
    font-size: 2.8vw;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
}

.mortgage-widget form {
    margin-top: 30px;
}

.mortgage-widget form .form-control {
    padding-right: 0;
    padding-left: 45px;
    margin-bottom: 8px;
    font-size: 12px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left 1px;
    background-clip: padding-box;
    background-size: 45px 30px;
    border-radius: 0;
}

.mortgage-widget form .form-control::-webkit-input-placeholder {
    /* text color */
    font-size: 12px;
    color: #1f1f1f;
}

.mortgage-widget form .form-control:-ms-input-placeholder {
    /* text color */
    font-size: 12px;
    color: #1f1f1f;
}

.mortgage-widget form .form-control::placeholder {
    /* text color */
    font-size: 12px;
    color: #1f1f1f;
}

.mortgage-widget form .form-control.mw-1 {
    background-image: url("../img/m-1.png");
}

.mortgage-widget form .form-control.mw-2 {
    background-image: url("../img/m-2.png");
}

.mortgage-widget form .form-control.mw-3 {
    background-image: url("../img/m-3.png");
}

.mortgage-widget form .form-control.mw-4 {
    background-image: url("../img/m-4.png");
}

.mortgage-widget form .s_btn {
    height: 36px;
    padding: 0;
    margin-top: 12px;
    line-height: 36px;
    color: #f3d300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #000;
}

.mortgage-widget p {
    /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 1.4vw;
    color: #000;
}

.mortgage-widget .chat-img {
    width: 79px;
    height: 79px;
    margin-top: 8px;
    margin-right: 20px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

/* ## content-block
/--------------------------------------------- */
.content-block {
    position: relative;
    display: block;
    width: 100%;
    padding: 90px 0 90px;
    overflow: hidden;
}

.content-block:after {
    display: block;
    clear: both;
    content: "";
}

.content-block .block-text {
    /* text color */
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/* ## Login
/--------------------------------------------- */
.login-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding: 50px 0;
    background-image: url("../img/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: padding-box;
    background-size: cover;
}

.login-wrapper:after {
    display: block;
    clear: both;
    content: "";
}

.message-alert {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: white;
    padding: 1rem;
}

.message-alert img {
    margin-right: 1rem;
}

.login-wrapper .login-modal,
.login-wrapper .logout-alert {
    position: relative;
    display: block;
    width: 100%;
    max-width: 459px;
    margin: 0 auto;
    background-color: #fff;
}

.login-wrapper .login-header {
    padding: 29px 50px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    background-image: url("../img/login-header.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: padding-box;
    background-size: cover;
}

.login-wrapper .login-form {
    display: block;
    width: 100%;
    padding: 50px 50px 40px;
}

.login-wrapper .login-form label {
    font-size: 14px;
    color: #393939;
    text-transform: uppercase;
}

.login-wrapper .login-form .form-control {
    padding: .500rem .75rem;
    padding: .5rem .75rem;
    background-color: #e7e7e7;
    /* layer fill content */
    border-radius: 0;
}

.login-wrapper .login-form .custom-checkbox label {
    /* layer alpha */
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    text-transform: none;
    opacity: .7;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.login-wrapper .login-form .custom-checkbox .custom-control-label:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.login-wrapper .login-form .custom-checkbox .custom-control-label:after {
    top: 2px;
}

.login-wrapper .login-form .login-btn {
    padding: 12px 47px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-wrapper .login-form .forget-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    /* layer alpha */
    color: #393939;
    text-decoration: underline;
    opacity: .7;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.login-wrapper .logout-alert {
    padding: 15px 20px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #35cb61;
}

.login-wrapper .logout-alert img {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.login-wrapper-2 {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding: 50px 0;
    background-image: url("../img/login-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: padding-box;
    background-size: cover;
}

.login-wrapper-2:after {
    display: block;
    clear: both;
    content: "";
}

.login-wrapper-2:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-image: -webkit-linear-gradient(left, #000, transparent 30%);
    background-image: linear-gradient(to right, #000, transparent 30%);
    opacity: .71;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
}

.login-wrapper-2 .login-modal,
.login-wrapper-2 .logout-alert {
    position: relative;
    display: block;
    width: 100%;
    max-width: 459px;
    margin: 0 auto;
    background-color: rgba(1, 1, 1, .6);
}

.login-wrapper-2 .login-modal {
    padding: 80px 0;
}

.login-wrapper-2 .login-header {
    padding: 0 50px;
    margin: 0;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
}

.login-wrapper-2 .login-form {
    display: block;
    width: 100%;
    padding: 30px 50px 0;
}

.login-wrapper-2 .login-form label {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.login-wrapper-2 .login-form .form-control {
    padding: .5rem .75rem;
    background-color: #fff;
    /* layer fill content */
    border-radius: 0;
}

.login-wrapper-2 .login-form .custom-checkbox label {
    font-size: 14px;
    color: #e7e7e7;
    text-transform: none;
}

.login-wrapper-2 .login-form .custom-checkbox .custom-control-label:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.login-wrapper-2 .login-form .custom-checkbox .custom-control-label:after {
    top: 2px;
}

.login-wrapper-2 .login-form .login-btn {
    padding: 12px 47px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-wrapper-2 .login-form .forget-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    /* layer alpha */
    color: #fff;
    text-decoration: underline;
    opacity: .7;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.login-wrapper-2 .logout-alert {
    padding: 15px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #f3d300;
    text-align: center;
    background-color: #000;
}

.login-wrapper-2 .logout-alert img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.login-wrapper-2 .caption-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 65px 20px 50px;
    font-size: 16px;
}

.login-wrapper-2 .caption-wrap.bg-white {
    background-color: #fff;
}

.login-wrapper-2 .caption-wrap.bg-white h1 {
    color: #000;
}

.login-wrapper-2 .caption-wrap.bg-white p {
    color: #393939;
}

.login-wrapper-2 .caption-wrap.bg-trans,
.login-wrapper-2 .caption-wrap.bg-black {
    background-color: transparent;
}

.login-wrapper-2 .caption-wrap.bg-trans h1,
.login-wrapper-2 .caption-wrap.bg-black h1 {
    color: #fff;
}

.login-wrapper-2 .caption-wrap.bg-trans p,
.login-wrapper-2 .caption-wrap.bg-black p {
    color: #fff;
}

.login-wrapper-2 .caption-wrap.bg-black {
    background-color: #000;
}

.login-wrapper-2 .caption-wrap p {
    max-width: 310px;
    line-height: 1.8;
    text-align: left;
}

.login-wrapper-2 .caption-wrap h1 {
    margin: 40px 0 30px;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

/* ## Logout
/--------------------------------------------- */
#logoutModal {
    z-index: 100000;
}

#logoutModal .modal-dialog {
    max-width: 459px;
    margin-top: 25vh;
}

#logoutModal .modal-body {
    padding: 55px 63px;
    text-align: center;
}

#logoutModal .modal-body p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #393939;
}

#logoutModal .modal-content {
    border-radius: 0;
}

#logoutModal .btn {
    padding: .84rem 1rem;
    /* text color */
    font-size: 14px;
    color: #393939;
}

/* ## Logout
/--------------------------------------------- */
#alert-modal-backdrop {
    z-index: 99999;
}

#alert-modal {
    z-index: 100000;
}

#alert-modal .modal-dialog {
    max-width: 459px;
    margin-top: 25vh;
}

#alert-modal .modal-body {
    padding: 55px 63px;
    text-align: center;
}

#alert-modal .modal-body p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #393939;
}

#alert-modal .modal-content {
    border-radius: 0;
}

/*#alert-modal .btn {*/
/*padding: .84rem 1rem;*/
/*!* text color *!*/
/*font-size: 14px;*/
/*color: #393939;*/
/*}*/

/* ## Profile
/--------------------------------------------- */
.edit-profile {
    position: relative;
    display: block;
    width: 100%;
    padding: 170px 0 100px;
    color: #fff;
    background-image: url("../img/p-1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: padding-box;
    background-size: cover;
}

.edit-profile:after {
    display: block;
    clear: both;
    content: "";
}

.side-bar {
    position: relative;
    display: block;
    width: 100%;
    min-height: 314px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.side-bar:after {
    display: block;
    clear: both;
    content: "";
}

.side-bar h2 {
    margin: 0 0 60px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.side-bar .btn-load {
    display: block;
    width: 100%;
    max-width: 207px;
    height: 42px;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    line-height: 42px;
    color: #393939;
    text-transform: uppercase;
}

.side-bar .btn-primary {
    display: block;
    width: 100%;
    max-width: 150px;
    height: 42px;
    padding: 0;
    margin: 12px auto 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 1px;
}

.profile-form {
    position: relative;
    display: block;
    width: 100%;
    color: #000;
}

.profile-form:after {
    display: block;
    clear: both;
    content: "";
}

.profile-form .form-wrap {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 25px;
}

.profile-form .form-wrap:after {
    display: block;
    clear: both;
    content: "";
}

.profile-form .form-title {
    margin: 0 0 40px;
    font-size: 28px;
    font-weight: bold;
}

.profile-form label {
    text-transform: uppercase;
}

.profile-form .form-control {
    /* layer fill content */
    padding: .5rem .75rem;
    background-color: #e7e7e7;
    border-radius: 0;
}

.profile-form .form-control::-moz-placeholder {
    color: #464646;
    /* text color */
    opacity: 1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.profile-form .form-control:-ms-input-placeholder {
    color: #464646;
    /* text color */
}

.profile-form .form-control::-webkit-input-placeholder {
    color: #464646;
    /* text color */
}

.profile-form .submit-btn {
    min-width: 177px;
    height: 42px;
    padding: 0;
    margin: 25px auto 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 1px;
}

/* ## Messages
/--------------------------------------------- */
.message-block {
    position: relative;
    display: block;
    width: 100%;
    padding: 170px 0 100px;
    color: #000;
    background-image: url("../img/p-2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: padding-box;
    background-size: cover;
}

.sidebar .side-nav {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0 15px;
    background-color: rgba(255, 255, 255, .9);
}

.sidebar .list-group-item {
    padding: 9px 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #989898;
    background-color: transparent;
    border-color: rgba(197, 197, 197, .4);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0 !important;
}

.sidebar .list-group-item .svg-box,
.sidebar .list-group-item img.svg-img {
    display: inline-block;
    width: 16px;
    height: 18px;
    margin-right: 9px;
    vertical-align: middle;
}

.sidebar .list-group-item .svg-box svg path,
.sidebar .list-group-item img.svg-img svg path {
    fill: #989898;
}

.sidebar .list-group-item .badge {
    width: 18px;
    height: 18px;
    padding: 0;
    line-height: 18px;
    color: #fff;
    /* layer fill content */
    text-align: center;
    /* text color */
    background-color: #6b6969;
    border-radius: 0 !important;
}

.sidebar .list-group-item.i_trash .svg-box,
.sidebar .list-group-item.i_trash img.svg-img {
    height: 20px;
}

.sidebar .list-group-item.active,
.sidebar .list-group-item:hover {
    color: #000;
}

.sidebar .list-group-item.active .svg-box svg path,
.sidebar .list-group-item:hover .svg-box svg path {
    fill: #000;
}

.sidebar .list-group-item.active .badge,
.sidebar .list-group-item:hover .badge {
    color: #050505;
    background-color: #f3d300;
    /* text color */
}

.compose-btn {
    padding: 11px 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

.compose-btn .svg-box,
.compose-btn img.svg-img {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.compose-btn .fa-angle-left {
    margin-right: 15px;
    font-size: 18px;
}

.message-box {
    position: relative;
    display: block;
    width: 100%;
    color: #000;
}

.message-box .top-links {
    position: relative;
    padding: 0 25px;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid rgba(197, 197, 197, .4);
}

.message-box .top-links li {
    position: relative;
    padding: 0 15px;
    font-size: 12px;
    line-height: 39px;
}

.message-box .top-links li a {
    position: relative;
    display: block;
    color: #989898;
    /* text color */
}

.message-box .top-links li a.active,
.message-box .top-links li a:hover {
    color: #000;
}

.message-box .top-links li a.active:after,
.message-box .top-links li a:hover:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #000;
}

.message-box .top-links li a.svg-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 39px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.message-box .top-links li a.svg-block .svg-img {
    width: 15px;
    height: 18px;
}

.message-box .top-links li:first-child {
    padding: 0;
}

.message-box .subject-block {
    padding: 15px 25px;
    font-size: 22px;
    line-height: 1;
    color: #000;
    border-bottom: 1px solid rgba(197, 197, 197, .4);
}

.message-box .search-block {
    position: relative;
    border-bottom: 1px solid rgba(197, 197, 197, .4);
}

.message-box .search-block .fa {
    padding: 0 15px 0 25px;
    font-size: 17px;
    color: #989898;
}

.message-box .search-block .form-control {
    padding: 9px 15px;
    font-size: 12px;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
}

.message-box .search-block .form-control:focus {
    outline: none;
    box-shadow: none;
}

.message-box .receiver-block {
    padding: 15px 25px;
    font-size: 14px;
    line-height: 1;
    color: #989898;
}

.message-box .receiver-block .receiver-name {
    margin-right: 15px;
    color: #464646;
}

.message-box .receiver-block a {
    color: #989898;
}

.message-box .message-list {
    position: relative;
    width: 100%;
    padding: 20px 25px;
}

.message-box .message-list .message-item {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #989898;
}

.message-box .message-list .message-item .-date {
    font-size: 12px;
}

.message-box .message-list .message-item .-subject {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.message-box .message-list .message-item .-subject:before {
    display: block;
    width: 12px;
    height: 12px;
    /* layer fill content */
    margin-right: 15px;
    content: '';
    /* prevents bg color from leaking outside the border */
    background-color: #989898;
    /* border radius */
    background-clip: padding-box;
    border-radius: 6px;
}

.message-box .message-list .message-item.active,
.message-box .message-list .message-item:hover {
    color: #000;
}

.message-box .message-list .message-item.active .-subject:before,
.message-box .message-list .message-item:hover .-subject:before {
    background-color: #000;
}

.message-box .message-list .message-item + .message-item {
    padding-top: 15px;
}

.message-box .read-message {
    padding: 15px 25px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    color: #464646;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.message-box .read-message p {
    margin-bottom: 25px;
}

.msg-wrap {
    background-color: rgba(255, 255, 255, .9);
}

.msg-wrap .foot-padding {
    padding: 20px 25px;
}

.msg-wrap .foot-padding .btn-outline {
    width: 177px;
    height: 42px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    color: #989898;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #989898;
}

.msg-wrap .foot-padding .btn-outline:hover {
    color: #000;
    border-color: #000;
    outline: none;
    box-shadow: none;
}

.compose-box {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px 25px 75px;
}

.compose-box:after {
    display: block;
    clear: both;
    content: "";
}

.compose-box .f_row {
    margin-bottom: 15px;
}

.compose-box .f_row label {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

.compose-box .f_row .form-control {
    font-size: 12px;
}

.compose-box .f_row .col-auto {
    max-width: 55px;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 55px;
    flex: 0 0 55px;
}

.compose-box .f_row textarea {
    height: 386px;
}

.compose-box .f_text {
    font-size: 10px;
    line-height: 1.8;
    color: #000;
}

.compose-box .i_row .btn-white {
    background-color: #fff;
    border-color: #fff;
}

.compose-box .i_row .btn {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: bold;
}

.compose-box .i_row .btn .fa {
    margin-left: 5px;
}

.inbox-list .active-dot {
    position: relative;
    display: block;
    width: 9px;
    height: 9px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 50%;
}

.inbox-list .m_subject {
    margin: 9px 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.inbox-list .m_text {
    line-height: 15px;
}

.inbox-list .inbox-item {
    width: 100%;
    padding: 12px 8px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #989898;
    border-bottom: 1px solid rgba(197, 197, 197, .4);
}

.inbox-list .inbox-item.active,
.inbox-list .inbox-item:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}

.inbox-list .inbox-item.active .active-dot,
.inbox-list .inbox-item:hover .active-dot {
    background-color: #f3d300;
}

.inbox-list .inbox-item.active .m_subject,
.inbox-list .inbox-item:hover .m_subject {
    color: #f3d300;
}

/* ## News
/--------------------------------------------- */
.news-page.news-single {
    background-color: #eee;
}

.news-page.news-single .site_main {
    position: relative;
    margin-top: 30px;
}

.news-wrap {
    display: block;
    width: 100%;
    max-width: 975px;
    padding: 0 15px;
    margin: 0 auto;
}

.news-wrap:after {
    display: block;
    clear: both;
    content: "";
}

.post-entry .post-heading {
    font-size: 42px;
    font-weight: 900;
    color: #000;
}

.post-entry .post-meta {
    display: block;
    width: 100%;
    margin: 15px 0 30px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.post-entry .post-meta .meta-date {
    color: #6b6b6b;
}

.post-entry p {
    margin: 40px 0;
    font-size: 16px;
    line-height: 2;
    color: #575757;
    text-align: left;
}

.post-entry p a {
    color: #0134c7;
}

.post-entry .blockquote {
    margin: 70px 0;
    font-size: 33px;
    line-height: 1.5;
    color: #000;
}

.post-entry .carousel {
    margin: 70px 0 30px;
}

.post-entry .carousel p {
    font-size: 16px;
    color: #575757;
}

.post-entry .c_control {
    position: absolute;
    top: 25%;
    right: 0;
    display: block;
    width: auto;
}

.post-entry .c_control .fa {
    font-size: 60px;
    color: #565d64;
}

.post-entry .c_control.c-control-prev {
    right: auto;
    left: -113px;
}

.post-entry .c_control.c-control-next {
    right: -113px;
}

.post-author-box {
    display: block;
    width: 100%;
    padding: 60px 0;
    margin: 30px 0 70px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.post-author-box .author-name {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #6b6b6b;
}

.post-author-box .avatar-img {
    margin-bottom: 15px;
}

.post-author-box .author-bio {
    font-size: 14px;
    line-height: 2;
    color: #575757;
    text-align: left;
}

.recent-posts-widget {
    padding: 60px 0 100px;
}

.recent-posts-widget .widget-header {
    margin: 0 0 80px;
    font-size: 42px;
    font-weight: 900;
    color: #000;
}

.recent-posts-widget a {
    display: block;
}

.recent-posts-widget .recent-post {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

.recent-posts-widget .recent-post .post-meta {
    color: #6b6b6b;
}

.recent-posts-widget .recent-post .post-title {
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    color: #000;
}

.recent-posts-widget .recent-post .post-cat {
    color: #c64600;
}

.recent-posts-widget .recent-post .post-author {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #6b6b6b;
}

.recent-posts-widget .recent-post .post-time {
    color: #6b6b6b;
}

.page_header {
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: padding-box;
    background-size: cover;
}

.page_header .page_title {
    margin: 0;
    font-size: 62px;
    font-weight: bold;
    color: #f3d300;
}

.news-grid {
    position: relative;
    width: 100%;
    padding: 85px 0;
    background-color: #ededed;
}

.news-grid .grid-item {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.news-grid .grid-item:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-image: -webkit-linear-gradient(left bottom, #000, transparent 55%);
    background-image: linear-gradient(to right top, #000, transparent 55%);
}

.news-grid .grid-item .g-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 35px 60px;
    color: #fff;
}

.news-grid .grid-item .post-box {
    position: relative;
    width: 100%;
    max-width: 380px;
    color: #fff;
}

.news-grid .grid-item .post-box .post-meta {
    font-size: 14px;
    color: #fff;
}

.news-grid .grid-item .post-box .post-title {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 900;
    color: #fff;
}

.news-grid .grid-item .post-box p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.8;
}

.news-grid .grid-item .post-box .autor-box img {
    margin-right: 15px;
}

.news-grid .grid-item .post-box .autor-box .name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.news-grid .grid-item .post-box .autor-box time {
    font-size: 12px;
    color: #fff;
}

.news-grid .grid-item.-small .g-content {
    padding: 20px 60px;
}

.news-grid .grid-item.-small .post-box .post-title {
    margin: 15px 0;
    font-size: 28px;
}

.news-grid .grid-item.-small .post-box p {
    font-size: 13px;
}

.btn-read-more {
    display: block;
    width: 100%;
    max-width: 289px;
    height: 63px;
    padding: 0;
    margin: 80px auto 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 63px;
    text-align: center;
    border-radius: 0;
}

/* ## Home
/--------------------------------------------- */
.home-wrap {
    position: relative;
    width: 100%;
    padding: 150px 0 50px;
    background-image: url("../img/h-1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: padding-box;
    background-size: cover;
}

.home-wrap:after {
    display: block;
    clear: both;
    content: "";
}

.home-block {
    padding: 25px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, .6);
}

.home-block h1 {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 900;
    line-height: 1;
}

.home-block p {
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
}

.home-block p a {
    color: #000;
}

.home-block.hb-3 {
    background-color: rgba(243, 211, 0, .8);
}

.home-block.hb-3 h3 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.home-block.hb-3 p {
    margin: 15px 0;
    line-height: 1;
    color: #000;
}

.home-block.hb-3 .-f-img + .-f-img {
    margin-left: 5px;
}

.home-wealth .home-wrap {
    background-image: url("../img/h-w.jpg");
}

.home-wealth .home-wrap .home-block p {
    font-size: 15px;
}

.home-wealth .home-wrap .home-block.h-310 p {
    max-width: 100% !important;
    font-size: 14px !important;
}

.home-health .home-wrap,
.home-lifestyle .home-wrap {
    background-image: url("../img/h-h.jpg");
}

.home-health .home-wrap .home-block,
.home-lifestyle .home-wrap .home-block {
    height: 100%;
}

.home-health .home-wrap .home-block h1,
.home-lifestyle .home-wrap .home-block h1 {
    margin-bottom: 12px;
    font-size: 38px;
}

.home-health .home-wrap .home-block p,
.home-lifestyle .home-wrap .home-block p {
    font-size: 15px;
}

.home-lifestyle .home-wrap {
    background-image: url("../img/h-ls.jpg");
}

.home-lifestyle .home-wrap .home-block {
    margin-bottom: 0;
}

.home-documents .home-wrap {
    background-image: url("../img/h-d.jpg");
}

.mb-30 {
    margin-bottom: 30px;
}

/* ## Privacy Policy
/--------------------------------------------- */
.page-header {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../img/pp.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: padding-box;
    background-size: cover;
}

.page-header .page-title {
    margin: 0;
    font-size: 62px;
    font-weight: 900;
    line-height: 1;
    color: #f3d300;
}

.page-content {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
    margin: 90px 0 35px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #000;
}

.page-content h3 {
    font-size: 32px;
}

.page-content p {
    margin-bottom: 50px;
    font-size: 22px;
    color: #000;
}

.page-content p a {
    font-weight: bold;
    color: #000;
}

.page-content h1 {
    margin: 90px 0 35px;
    font-family: "Playfair Display", serif;
    font-size: 62px;
    font-weight: 900;
    line-height: 1;
    color: #000;
}

@media screen and (prefers-reduced-motion: reduce) {
    .site-container {
        -webkit-transition: none;
        transition: none;
    }

    .nicescroll-rails-vr {
        -webkit-transition: none;
        transition: none;
    }

    .nicescroll-rails-vr .nicescroll-cursors {
        -webkit-transition: none;
        transition: none;
    }
}

@media (max-width: 767px) {
    .section-title {
        font-size: 6vw;
    }

    .accordian-block .accordian-title {
        font-size: 7vw;
    }

    .accordian-block .card-header h5 a,
    .accordian-block .card-header h5 .btn {
        font-size: 4vw;
    }

    .accordian-block.-small .accordian-title {
        font-size: 5vw;
    }

    .accordian-block.-small .card-header h5 a,
    .accordian-block.-small .card-header h5 .btn {
        font-size: 4vw;
    }

    .compose-box .i_row .btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .compose-box .i_row .btn.btn-white {
        margin-bottom: 10px;
    }

    .post-author-box {
        text-align: center;
    }

    .post-author-box .avatar-img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .news-grid .grid-item {
        max-width: 555px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .centered-md {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .site-header .navbar .nav-item .nav-link.l_message .l_text {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .site-header {
        position: relative;
        padding: 0;
        text-align: center;
        background-color: #000;
    }

    .site-header .mid-nav {
        margin-top: 50px;
    }

    .site-header .navbar-nav {
        font-weight: normal;
    }

    .site-header .navbar-nav .nav-item + .nav-item {
        position: relative;
    }

    .site-header .navbar-nav .nav-item + .nav-item:before {
        display: block;
        width: 56px;
        height: 1px;
        margin: 15px auto;
        content: '';
        background-color: #fff;
    }

    .site-header .btn {
        display: block;
        width: 100% !important;
        margin: 20px 0 30px;
        font-size: 14px;
    }

    .banner-style-1 .banner-img {
        width: auto;
        max-width: initial;
        height: 600px;
    }

    .login-wrapper {
        height: 602px;
    }

    .edit-profile {
        padding-top: 30px;
    }

    .post-entry .c_control {
        top: 15vw;
    }

    .post-entry .c_control .fa {
        font-size: 30px;
        color: #fff;
    }

    .post-entry .c_control.c-control-prev {
        right: auto;
        left: 15px;
    }

    .post-entry .c_control.c-control-next {
        right: 15px;
    }

    .home-wrap {
        padding: 30px 0;
    }
}

@media (min-width: 992px) {
    .site-header .navbar .nav-item .nav-link img {
        position: absolute;
        top: 0;
        right: 5px;
        display: block;
    }

    .site-header .navbar .nav-item .nav-link.l_info {
        padding-right: 30px;
    }

    .site-header .navbar .nav-item .nav-link.l_info img {
        top: 2px;
    }

    .site-header .navbar .nav-item .nav-link.l_message {
        padding-right: 38px;
    }

    .site-header .navbar .nav-item .nav-link.l_message img {
        top: -1px;
    }

    .site-header .navbar .nav-item .nav-link.l_docs {
        padding-right: 29px;
    }

    .site-header .navbar .nav-item .nav-link.l_docs img {
        top: 3px;
    }

    .site-header .navbar .nav-item .nav-link.l_profile {
        padding-right: 31px;
    }

    .site-header .navbar .nav-item .nav-link.l_profile img {
        top: 2px;
    }

    .site-header .navbar .nav-item + .nav-item {
        margin: 0 5px;
    }

    .site-header {
        min-height: 161px;
    }

    .site-header .dropdown-menu .d_links {
        padding: 0 30px;
    }

    .site-header .dropdown-menu {
        margin-top: 20px;
        background-clip: padding-box-box;
        border-radius: 0 0 0 20px;
    }

    .login-wrapper .login-modal,
    .login-wrapper .logout-alert {
        width: 459px;
        margin-right: auto;
        margin-left: auto;
    }

    .news-page.news-single .site-header {
        min-height: 258px;
        padding-bottom: 0;
        background-image: url("../img/new-header-bg.png");
    }

    .news-page.news-single .site_main {
        margin-top: 250px;
    }

    .page_header {
        height: 650px;
    }

    .page-header .page-title {
        padding-top: 25px;
    }
}

@media (min-width: 1024px) {
    .site-header .navbar .mid-nav {
        margin-left: 30px;
    }

    .site-header .navbar-nav.first-nav .nav-item:first-child {
        margin-right: 30px;
    }
}

@media (max-width: 575px) {
    .site-footer .social-footer {
        margin-bottom: 15px;
        text-align: center;
    }

    .site-footer .d-logo {
        display: block;
        margin: 0 auto;
    }

    .hr-widget-1 h1 {
        font-size: 5.3vw;
    }

    .mortgage-widget h1 {
        font-size: 5.3vw;
        text-align: center;
    }

    .mortgage-widget p {
        font-size: 18px;
        text-align: center;
    }

    .mortgage-widget .chat-img {
        display: block;
        margin: 0 auto 15px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .login-wrapper .logout-alert {
        font-size: 4vw;
    }

    .login-wrapper-2 .logout-alert {
        font-size: 4vw;
    }

    .message-box .message-list .message-item .-subject {
        max-width: 100%;
        margin-bottom: 10px;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .message-box .message-list .message-item + .message-item {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #ccc;
    }

    .news-grid .grid-item.-big {
        min-height: 350px;
    }

    .news-grid .grid-item.-big .n-img {
        width: auto;
        max-width: inherit;
        height: 350px;
    }

    .news-grid .grid-item .g-content {
        padding: 20px !important;
    }

    .news-grid .grid-item .post-box .post-title {
        font-size: 7vw;
    }

}

@media (max-width: 768px) {
    .set-height {
        height: 100% !important;
    }
}

@media (min-width: 1200px) {
    .accordian-block.-with-widget .accordion {
        width: 61%;
    }

    .accordian-block.-with-widget-mortgage .accordion {
        width: 55%;
    }

    .login-wrapper-2 .login-modal,
    .login-wrapper-2 .logout-alert {
        width: 459px;
        margin-right: auto;
        margin-left: auto;
    }

    .login-wrapper-2 .-left-wrap {
        -webkit-transform: translateX(-385px);
        -ms-transform: translateX(-385px);
        transform: translateX(-385px);
    }

    .compose-box .f_text {
        width: 435px;
        padding-left: 10px;
    }

    .compose-box .i_row {
        padding-left: 70px;
    }

    .home-block.hb-1 {
        width: 278px;
    }

    .home-block.hb-2 {
        width: 328px;
    }

    .home-block.hb-3 {
        width: 375px;
        padding-left: 45px;
    }

    .home-block.h-310 {
        height: 310px;
    }

    .home-block.h-310 p {
        max-width: 185px;
    }

    .home-block.h-220 {
        height: 220px;
    }

    .home-block.mt-55 {
        margin-top: 55px;
    }

    .home-health .home-wrap .home-block,
    .home-lifestyle .home-wrap .home-block {
        padding: 40px 25px 0;
    }

    .home-health .home-wrap .home-block.h-402,
    .home-lifestyle .home-wrap .home-block.h-402 {
        height: 402px;
    }

    .home-health .home-wrap .home-block.h-402 h1,
    .home-lifestyle .home-wrap .home-block.h-402 h1 {
        font-size: 42px;
    }

    .home-lifestyle .home-wrap .h-220 {
        height: 220px;
    }

    .home-documents .home-wrap {
        min-height: 770px;
    }

    .home-documents .home-wrap .home-block {
        padding: 40px 25px 0;
    }

    .home-documents .home-wrap .home-block h1 {
        line-height: 1.2;
    }
}

@media (min-width: 576px) and (max-width: 1199px) {
    .hr-widget-1 h1 {
        font-size: 30px;
    }

    .mortgage-widget h1 {
        font-size: 30px;
    }

    .mortgage-widget p {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .hr-widget-1 {
        position: relative;
        width: 100%;
        max-width: 430px;
        height: auto;
        padding: 30px 30px 0;
        margin: 0 auto;
    }

    .hr-widget-1:after {
        display: block;
        clear: both;
        content: "";
    }

    .mortgage-widget {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 15px;
        margin: 0 auto;
    }

    .mortgage-widget:after {
        display: block;
        clear: both;
        content: "";
    }

    .mortgage-widget > .row {
        max-width: 530px;
        margin-right: auto;
        margin-left: auto;
    }

    .login-wrapper-2 {
        height: 100%;
    }

    .login-wrapper-2 .caption-wrap {
        max-width: 459px;
        margin: 0 auto;
    }
}

@media (min-width: 576px) {
    .mortgage-widget form .f_row .col-12 {
        padding-left: 4px;
    }

    .mortgage-widget form .f_row .col-12:nth-child(3),
    .mortgage-widget form .f_row .col-12:first-child {
        padding-right: 4px;
        padding-left: 0;
    }

    .mortgage-widget form .s_row .col-12 {
        padding-left: 4px;
    }

    .message-box .message-list .message-item .-subject:before {
        margin-right: 33px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        max-width: 195px;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 195px;
        flex: 0 0 195px;
    }

    .sidebar .side-nav {
        min-height: 576px;
        margin: 10px 0 0;
    }

    .compose-box .f_row .col-auto {
        max-width: 70px;

        -ms-flex: 0 0 70px;
        -webkit-box-flex: 0;
        flex: 0 0 70px;
    }
}
