.flex-widget-digit{
  float: left;
  background-color: black;
  margin: .5rem;
  font-size: 1rem;
  color: white;
  display: table;
  width: 45px;
  height: 45px;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  &:first-child{
    margin-left: 0;

  }
  &:last-child{
    margin-right: 10;

  }
}

.dot {
  float: left;
  padding-top: 17px;
}

@media (min-width: 340px) {
  .d-flex{
    display: -webkit-inline-box !important;
  }
}


.flex-digit-title{
  text-align: center;
  font-size: 12px;
}