.site-footer {
  .d-logo {
    display: block;
    width: 77px;
    height: auto;

  }
}

@media (max-width: 767px) {
  .footer-logo a{
    float: left;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .footer-logo a{
    float: left;
  }
  .col-sm{
    max-width: 100%;
    -ms-flex-preferred-size: 0;
    flex-basis: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 0;
    display: none;
  }
}