.navbar-nav .nav-link {
  font-weight: 400;
}

@media (min-width: 992px) {
  .site-header {
    min-height: 120px;
  }
}

.site-header {
  background-image: url(/img/header-bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-clip: padding-box;
  background-size: 100% 100%;
}

.site-header {
  .btn.btn-primary {
    font-weight: 600;
    background-color: rgba(243, 211, 0, 0.85);

    &:hover {
      background-color: rgba(243, 211, 0, 1);
    }
  }
}

.banner-style-1 .banner-title {
  font-size: 4rem;
}
