// TODO:
.nav-dropdown:hover > .dropdown-menu {
  // display: block;
}
.nav-dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  // pointer-events: none;
}

.site-header .navbar .nav-item + .nav-item {
  position: relative;
}

.nav-dropdown .dropdown-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.site-header .navbar .nav-dropdown .dropdown-toggle:after {
  width: auto;
  height: auto;
  margin-left: 0;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: inherit;
  content: "\f107";
  border: 0 !important;
}
