$lineHeight: 1.5 * 12px;

.page-content {
  p {
    font-size: 18px;
    margin-bottom: 1.5em;
  }

  h1 {
    // font-size: 42px;
    // margin: (90em/62) 0 (35em/62);
    margin: 90px 0 35px;
    font-family: "Playfair Display", serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 1;
    color: #000;
  }

  h3 {
    font-size: 22px;
    margin: (90em/62) 0 (35em/62);
  }
}
