.YouTubeVideo {
  width: 100%;
  min-width: 100px;
  padding-top: 56.25%; // 16:9 aspect ratio
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
