
.text-white {
    color: rgba(255, 255, 255, .9);
}

.secret {
    word-break: break-all;
}

.qrcode-container {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.qrcode-container svg {

    width: 100%;

}
.set-text p{
    text-align: left !important;
}

.responImage{
    width: 300px;
    text-align: left;
}

@media (max-width: 767px) {
    .responImage{
        width: 200px;
        text-align: center;
    }
    .login-wrapper-2 .caption-wrap{
        width: 100% !important;
        display: contents!important;
        text-align: center;
        margin-bottom: 10px !important;
    }
    .hgroup{
        margin-bottom: 20px !important;
    }
}