.post-entry{
  .post-image {
    width: 100%;
  }

  .c_control{
    width: auto;
    display: block;
    position: absolute;
    top: 25%;
    right: 0;
    .fa{
      font-size: 60px;
      color: #565d64;
    }
  }
}

.post-nav {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 100%;

  .news-wrap {
    position: relative;
  }

  .c_control {
    transform: translateY(-5em);
    &.c-control-prev {
      left: -3em;
    }

    &.c-control-next {
      right: -3em;
    }
  }
}
