.grid-item {
  .author-img {
    img {
      max-width: 47px;
    }
  }
}

.news-grid .grid-item-article {
  min-height: 444px;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:after {
    position: absolute;
    content: " ";
    z-index: 1;
    background-image: linear-gradient(to right top, rgba(0,0,0,0.5) 20%, rgba(0, 0, 0, 0) 80%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.0;
    transition: all 300ms;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  .g-content {
    z-index: 2;
  }

  &.-small {
    min-height: 470px;
  }
}

.grid-item-article {
  cursor: pointer;
}

.author-img {
  img {
    border-radius: 100%;
  }
}

.closeHover {
  box-shadow: 0px 0px !important;
}

// .set-grid .grid-item:before{
//   background-image: none !important;
// }

// .set-grid .grid-item-article:after{
//   background-image: none !important;
// }

// @media only screen and (max-width: 888px)  {
//   .set-size{
//     min-height: 250px !important;
//   }
// }
@media (max-width: 991px), (min-width: 888px) {
  .set-size{
    min-height: 250px !important;
  }
}