.page_header {
  background-position: center center;
}

.grid-item-article.-big{
    display: none
}

.news-grid {
  padding-bottom: 0px;
}

.news-bottom {
  background-color: #ededed;
  padding: 20px 0 85px;
}

@mixin icon {
  width: auto;
  height: auto;
  margin-left: 0;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: inherit;
  border: 0 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
}

.btn-next {
  position: relative;

  &::after {
    @include icon;
    content: " \F054";
    right: 1em;
  }
}

.btn-prev {
  position: relative;

  &::before {
    @include icon;
    content: " \F053";
    left: 1em;
  }
}

.next-loader {
  background-color: #ededed;
  min-height: 250px;

  .Loader {
    min-height: 200px;
  }
}


