@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.BenefitBanner {
  .bannerImgWrap {
    background-color: #000;
    width: 100%;
    min-width: 100px;
    padding-top: 56.25%; // 16:9 aspect ratio
    position: relative;

    img {
      animation: fadeIn 700ms;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  .bannerImgLoading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  

  @media (max-width: 991px) {
    .bannerImgWrap {
      width: auto;
      height: auto;
      min-height: 600px;
      padding: 0;

      img {
        width: auto;
        opacity: 0.6;
      }
    }
  }
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__input-container {
  display: -webkit-box !important;
}